@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
}
header {
  background-image: url("https://www.shutterstock.com/image-vector/abstract-smoke-wallpaper-background-desktop-600nw-2437748053.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 130vh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 10px;
}
.default-ltr-cache-6dfzkw-StyledBrandLogo {
  color: rgb(229, 9, 20);
  height: 2em;
  fill: currentColor;
}
.login button {
  padding: 0px 20px;
  border-radius: 20px;
  line-height: 1;
  letter-spacing: normal;
  border: rgb(0, 0, 0, 0);
  background-color: #fff;
}
.login button:hover {
  cursor: pointer;
  background-color: rgba(233, 226, 240, 0.448);
  transition: background-color 0.4s ease;
}
.hero {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/42a0bce6-fc59-4c1c-b335-7196a59ae9ab/web_tall_panel/IN-en-20250303-TRIFECTA-perspective_8d2f60cf-007f-4f25-99b0-7c0b77f38bc1_large.jpg");
  border-radius: 20px;
  margin: 0 30px;
  box-shadow: -1px 2px 7px 0px #898686;
  height: 100vh;
  display: flex;
  align-items: center;
  background-blend-mode: color;
  justify-content: center;
  background-color: #000000b0;
}

.hero-content {
  color: whitesmoke;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
  line-height: 1.9em;
  text-align: center;
}
.hero-content h1,h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
}
.hero-content p{
    font-family: sans-serif;
    font-size: 0.9em;
}
.hero-content p:nth-child(3){
    font-size: 0.6em;
}
.cta input,button{
    height: 50px;
}
.cta input{
    width: 26em;
    border-radius: 28px;
    padding-left: 15px;
    background-color: #5f5b5b99;
    color: rgb(249, 249, 250);
}
.cta button{
    width: 12em;
    border-radius: 25px;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 200;
    border: none;
    color: whitesmoke;
}
.cta button:hover{
    background-color: rgba(200, 4, 4, 0.891);
    cursor: pointer;
}
/* Main section */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}
