@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("https://www.shutterstock.com/image-vector/abstract-smoke-wallpaper-background-desktop-600nw-2437748053.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #00000079;
  backdrop-filter: blur(10px);
}
header {
  height: 80avh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 10px;
}
.default-ltr-cache-6dfzkw-StyledBrandLogo {
  color: rgb(229, 9, 20);
  height: 2em;
  fill: currentColor;
}
.login button {
  padding: 0px 20px;
  border-radius: 20px;
  line-height: 1;
  letter-spacing: normal;
  border: rgb(0, 0, 0, 0);
  background-color: #fff;
}
.login button:hover {
  cursor: pointer;
  background-color: rgba(233, 226, 240, 0.448);
  transition: background-color 0.4s ease;
}
.hero {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/42a0bce6-fc59-4c1c-b335-7196a59ae9ab/web_tall_panel/IN-en-20250303-TRIFECTA-perspective_8d2f60cf-007f-4f25-99b0-7c0b77f38bc1_large.jpg");
  border-radius: 20px;
  margin: 0 30px;
  box-shadow: -1px 2px 7px 0px #898686;
  height: 100vh;
  display: flex;
  align-items: center;
  background-blend-mode: color;
  justify-content: center;
  background-color: #000000b0;
  border-radius: 0 0 -50px -50px ;
  border-bottom:1px solid transparent;
  
}
.bottom-curve {
  position: relative;
  bottom: 43px;
  left: 0;
  width: 100%;
  height: 80px; /* Increase height for a smoother transition */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  
  background-image: url("https://www.shutterstock.com/image-vector/abstract-smoke-wallpaper-background-desktop-600nw-2437748053.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  backdrop-filter: blur(10px);
  border-radius: 50% 50% 0 0;
}

.hero-content {
  color: whitesmoke;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
  line-height: 1.9em;
  text-align: center;
  position: absolute;
}
.hero-content h1,
h2 {
  font-size: 40px;
  font-weight: bold;
}
.hero-content p {
  font-size: 18px;
  margin: 10px 0;
}
.hero-content p:nth-child(3) {
  font-size: 0.6em;
}

.cta {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.cta input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-right: 10px;
  border-radius: 30px;
  background-color: #898686a6;
  color: rgb(245, 245, 245);
}
.cta button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  border-radius: 30px;
  width: 30vh;
  color: white;
  border: none;
  cursor: pointer;
  /* border-radius: 0 5px 5px 0; */
  transition: 0.3s;
}
.cta button:hover {
  background-color: darkred;
}
/* Main section */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 50vh;
  font-family: "Roboto", sans-serif;
  /* margin-top: -45vh; */
}

main section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  /* overflow-wrap: normal; */
}
main section h3 {
  color: whitesmoke;
  padding-left: 30px;
  font-size: 1.5em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.Trending_items {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  background-image: url("https://www.shutterstock.com/image-vector/abstract-smoke-wallpaper-background-desktop-600nw-2437748053.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
}
.Trending_items span img {
  margin: 0 10px;
  border-radius: 20px;
}
.Trending_items span::before {
  content: attr(data-index);
  color: black;
  font-size: 60px;
  margin: -auto 10px;
  overflow: hidden;
  overlay: auto;
  text-shadow: 0px 1px 7px white;
}
.Trending_items span:hover{
  display: relative;
  bottom: 30px;
}
.reasonTojoin{
  display: flex;
  background-image: url("https://www.shutterstock.com/image-vector/abstract-smoke-wallpaper-background-desktop-600nw-2437748053.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding-left: 50px;
  padding-top: 20px;
}
.reasons{
  display: flex;
  margin: 20px;
  color: rgb(250, 250, 250);
  align-items: center;
}

.reason-box{
  width: 18vw;
  height: 35vh;
  border: 1px solid white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  background-color: #413c3c;
  padding: 20px;
  border-radius: 20px;
}
.reason-box h5{
  font-size: 20px;
  margin-bottom: 10px;
}
.image12{
  justify-self: flex-end;
  align-self: flex-end;
}